<div id="<%= dom_id ticket %>">

  <p>
    <strong>Events:</strong>
    <%= ticket.event_id %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= ticket.room_id %>
  </p>

  <p>
    <strong>Confirmation number:</strong>
    <%= ticket.confirmation_number %>
  </p>

</div>
