<div id="<%= dom_id room %>">
  <p>
    <strong>Room:</strong>
    <%= room.room_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= room.location %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= room.capacity %>
  </p>

</div>
